{% extends 'markdoc-default/base.html' %}
{% block css %}
    {{ super() }}
    {{ html.cssimport(make_relative("/media/css/custom.css")) }}
{% endblock css %}
{% block head %}
    {{ super() }}
    <script>
        (function() {
            var cx = '000196063796899597036:fg4fuyj2yma';
            var gcse = document.createElement('script'); gcse.type = 'text/javascript'; gcse.async = true;
            gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
            '//www.google.com/cse/cse.js?cx=' + cx;
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(gcse, s);
        })();
    </script>
{% endblock head %}

{% block body_footer %}
    {{ super() }}
    <gcse:search></gcse:search>
{% endblock body_footer %}
